<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>

		<h1>Admin page</h1>

		<fieldset>
			<legend>MenuItems</legend>
			<ul>
				<li>
					<a href="{% url 'mysite.admin_views.menu_add' '' %}">add</a>
				</li>
				<li>
					<a href="{% url 'mysite.admin_views.menu_list' %}">list</a>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Images</legend>
			<ul>
				<li>
					<a href="{% url 'mysite.admin_views.image_add' %}">add</a>
				</li>
				<li>
					<a href="{% url 'mysite.admin_views.image_upload' %}">upload</a>
				</li>				
				<li>
					<a href="{% url 'mysite.admin_views.image_list' %}">list</a>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Articles</legend>
			<ul>
				<li>
					<a href="{% url 'mysite.admin_views.article_add' %}">add</a>
				</li>				
				<li>
					<a href="{% url 'mysite.admin_views.article_list' %}">list</a>
				</li>
			</ul>
		</fieldset>			
	</body>
</html>

