<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>

		<h1>List articles</h1>
		<table>
	    {% for article in articles %}
	    <tr>
	    	<td>Name: {{ article.title|escape }}</td>
	    	<td><a href="{% url 'mysite.admin_views.article_view' article.url_slug %}">view</a></td>
	    	<td><a href="{% url 'mysite.admin_views.article_delete' article.key %}">delete</a></td>
	    </tr>
	    {% endfor %}
	    </table>
	    <table>
	    	<tr>
			    <td>
			    <a href="{% url 'mysite.admin_views.main' %}">back</a>
			    </td>
		    </tr>
	    </table>		    
	</body>
</html>

