body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}
table {
	margin: 10px;
	border-spacing: 10px;
}

fieldset {
	border-radius: 10px;
	width: 20%;
}

.sub_menu {
	width: 100%;
	height: 250px;
}
