body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #EEEEEE;
}
table {
	margin: 10px;
	border-spacing: 10px;
}

fieldset {
	border-radius: 10px;
	width: 20%;
}

.sub_menu {
	width: 100%;
	height: 250px;
}

.article_body {
	width: 900px;
	height: 600px;
	background: white;
}
